body{
	font-family: "Basier Circle", sans-serif;
}
.content h2{
	line-height: 44px;
	font-size: 2.1875rem;
	letter-spacing: -0.025em;

}
.content{
	padding-top: 100px;
	padding-left:15%;
	width: 600px;
	
}
.content button{
	position: relative;
	width: 150px;
	margin: auto;
	
}	
.right-bar{
	background-color: #FF4B6E;
	top: 0;
	right:0;
	width: 450px;
	height: 100%;
	
	position: absolute;
	padding-top: 50px;
	padding-left: 50px;
	background-repeat: no-repeat;
	background-size: cover;
}
.right-bar img{
	width: 300px;
	margin-top: 30%;
}

.right-bar .signup{
	border-radius: 16px;
}

@media (max-width: 1000px) {
	.right-bar{
		display: none;
	}
}

@media (max-width: 1050px) {
	.content{
		width:500px;
	}
	
}

@media (max-width: 700px) {
	.content{
		width: 90%;
	}
}

