.col-4{
    height: 400px;  
    width: 300px;
}

.component{
    background-color:#FF4B6E;
    padding: 20px 20px 20px 20px;
    border-radius: 30px;
}

.price{
    position: absolute;
    right:0;
    top: 0;
    padding-top:20px;
    padding-right:40px;
}
.component .btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:50px;
}