body{
    padding-left:300px;
}
.text{
    padding:10px;
}

.left-bar{
	background-color: #FF4B6E;
	top: 0;
	left:0;
	width: 300px;
	height: 100%;
    position: absolute;
	padding-top: 50px;
	padding-left: 50px;
	background-repeat: no-repeat;
	background-size: cover;
    z-index:2;
}
.left-bar .btn{
    margin-right:5px;
}
.logo{
	width: 200px;
    right:0;
    position: absolute;
    top:0;
}
.btn-contact{
    bottom: 0;
    position: absolute;
    margin-bottom: 50px;
    width: 200px;
}
.menu .btn{
    margin-top: 20px;
    width: 200px;
}

.searchBox{
    background-color: #FF4B6E;
    position: relative;
    width: 100%;
    height: 50px;
    margin-top: 80px;
    z-index:1;
}
.searchBox input{
    margin-top: 8px;
    right: 150px;
    width: 200px;
    position: absolute;
    height: 30px;
    border-radius: 10px;
    border-color: #dc3545;

    color: black;
}
.searchBox .btn{
    right: 30px;
    height: 30px;
    margin-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 10px;
    position: absolute;
}
.custom-switch{
    position: absolute;
    right:200px;
    top: 25px;
}

.container{
    display: flex;
    justify-content: space-around;
    padding-left: 50px;
    padding-top: 50px;
    padding-right: 50px;
}

footer p{
    position: absolute;
    right:20px;
    bottom:0;
}

.container .row{
    display: flex;
    justify-content: space-around;
    width: 100%;
}